<!-- Teresa Tull worked on this on 10-22-2022 ch 13 work and exercises -->
<!-- 10-24-2022 work on ch 14 -->
<!-- 10-30-2022 work on ch 15 -->
<!-- 11-2-2022 work on ch 16 -->
<!-- 11-13-2022 work on ch 17 -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<!-- <p th:text="${errorMsg}" style="color:red;"></p>
this is a generic mgs and below will provide specific msg -->

<form method="post">
    <div class="form-group">
        <label>Name
            <!-- <input type="text" name="eventName" class="form-control">
            all 3 items were the same way and changed in ch 15-->
            <input th:field="${event.name}" class="form-control">
        </label>
        <p class="error" th:errors="${event.name}"></p>
    </div>

    <div class="form-group">
        <label>Description
            <input th:field="${event.description}" class="form-control">
        </label>
        <p class="error" th:errors="${event.description}"></p>
    </div>

    <div class="form-group">
        <label>Contact Email
            <input th:field="${event.contactEmail}" class="form-control">
        </label>
        <p class="error" th:errors="${event.contactEmail}"></p>
    </div>

    <div class="form-group">
        <label>Type
            <select th:field="${event.type}">
                <option th:each="type : ${types}"
                        th:value="${type}"
                        th:text="${type.displayName}"
                ></option>
            </select>
        </label>
    </div>

    <div class="form-group">
        <input type="submit" value="Create Event" class="btn btn-success">
    </div>
</form>
</body>
</html>
